<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435676304591-h7gmmqhoiat9seatdndfgcoahvnuqnon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435676304591-h7gmmqhoiat9seatdndfgcoahvnuqnon</string>
	<key>API_KEY</key>
	<string>AIzaSyBNXPzHzfgoDkhIZ1T8erfJ4jHnjrjLAz8</string>
	<key>GCM_SENDER_ID</key>
	<string>435676304591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geottuse.serviceapp.business</string>
	<key>PROJECT_ID</key>
	<string>easybook-a2759</string>
	<key>STORAGE_BUCKET</key>
	<string>easybook-a2759.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435676304591:ios:d24dd61c912b6ba3ccd3ba</string>
</dict>
</plist>